:root{
    --background-color-body:#B7B5B5;
    --background-card:#42515A;
    --background-footer-card:#C74385;
    --color-letter:#FFFFFF;
    --color-name:#C5D4CF;
}
*{
    margin:0;
    padding:0;
    box-shadow: none;
}
body {
    background-color: var(--background-color-body);
    font-family: 'Mouse Memoirs', sans-serif;
}
.container-card{
    width:100%;
    height:800px;   
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card {
    display: inline-block;
    flex-direction: column;
    width:350px;
    height:500px;
    border-radius:25px;
    background-color:var(--background-card);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.foto-perfil{
    width:50%;
    border-radius: 50%;
    border: 8px solid var(--background-footer-card);margin-top:-80px
}
.foto-perfil:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.name{
    color: var(--background-footer-card);

}
.mail{
    text-decoration: none;
    color:var(--color-name);
}
.job{
    color:var(--color-name);
    font-weight: bold;
}
.red-social{
    display:flex;
    justify-content:space-around;
}
.social{
    width: 30px;
    background-color: var(--background-footer-card);
    padding: 10px;
    border-radius: 50%;
    font-variant: small-caps;
}
.footer{
    color:var(--color-letter);
    background-color: var(--background-footer-card);
    padding: 20px;
    border-radius: 0px 0px 25px 25px;
    
    
}