:root {
  --background-color-body: #b7b5b5;
  --background-card: #42515a;
  --background-footer-card: #c74385;
  --color-letter: #ffffff;
  --color-name: #c5d4cf;
}
* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}
body {
  background-color: var(--background-color-body);
  font-family: "Mouse Memoirs", sans-serif;
}
.container-card {
  width: 100%;
  text-align: center;
}
.card {
  margin: 10% auto;
  width: 350px;
  border-radius: 25px;
  background-color: var(--background-card);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)    
  }  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.foto-perfil {
  width: 45%;
  border-radius: 50%;
  border: 8px solid var(--background-footer-card);
  margin-top: -80px;
}
.foto-perfil:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.name {
  color: var(--background-footer-card);
  padding: 8% 4% 4% 4%;
}
.mail {
  display: block;
  text-decoration: none;
  color: var(--color-name);
  padding: 3%;
}
.job {
  padding: 4%;
  color: var(--color-name);
  font-weight: bold;
}
.red-social {
  margin: 10%;
  display: flex;
  justify-content: space-around;
}
.social {
  width: 30px;
  background-color: var(--background-footer-card);
  padding: 10px;
  border-radius: 50%;
  font-variant: small-caps;
}
.footer {
  color: var(--color-letter);
  background-color: var(--background-footer-card);
  padding: 30px 10px;
  border-radius: 0px 0px 25px 25px;
}
